@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body, html {
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
  background-color: #5c5673; }

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  background-color: rgba(77, 56, 110, 0.5); }

.row {
  background-color: white; }

a {
  color: #fbae38; }
  a:hover {
    color: #fa9a06; }

.header {
  padding-top: 0.5em; }
  .header .large-3.columns, .header .large-9.columns {
    padding: 0px !important; }
  .header .row {
    background-color: #4e3c6f; }
  .header ul li a {
    color: white;
    transition: color 0.3s ease; }
    .header ul li a:hover {
      color: #cccccc; }
  .header .user-menu li a {
    font-size: .75em; }
  .header #cart {
    width: 4em;
    text-align: right;
    background: url("../img/cart.svg") no-repeat left center;
    background-size: 20px 20px; }
    .header #cart:hover {
      background: url("../img/cart-hover.svg") no-repeat left center;
      background-size: 20px 20px; }
  .header .main-menu {
    margin-top: 1em; }
    .header .main-menu li {
      margin-left: .25em; }
      .header .main-menu li a {
        text-transform: uppercase;
        font-size: .80em;
        padding: 5px; }
        .header .main-menu li a:hover {
          background-color: rgba(153, 128, 191, 0.5);
          color: #fbae38; }
  .header input[id=search] {
    border: 1px solid rgba(101, 73, 144, 0.5);
    padding: 5px;
    color: white;
    background: rgba(77, 56, 110, 0.5);
    background: url("../img/search.png") no-repeat right 5px center, rgba(77, 56, 110, 0.5); }
    .header input[id=search]:focus {
      outline-color: white; }
  .header #header-logo {
    max-height: 3.125em; }

/* nav.tab-bar {
	background-color: $transPurple;
	color: $grey;
}
 */
.off-canvas-wrap, .inner-wrap, .left-off-canvas-menu, .right-off-canvas-menu, nav.tab-bar {
  background-color: rgba(77, 56, 110, 0.5);
  color: #5c5673; }
  .off-canvas-wrap ul.off-canvas-list li label, .inner-wrap ul.off-canvas-list li label, .left-off-canvas-menu ul.off-canvas-list li label, .right-off-canvas-menu ul.off-canvas-list li label, nav.tab-bar ul.off-canvas-list li label {
    background-color: #5c5673; }

input[id=search] {
  border: 1px solid rgba(101, 73, 144, 0.5);
  padding: 5px;
  color: white;
  background: rgba(77, 56, 110, 0.5);
  background: url("../img/search.png") no-repeat right 5px center, rgba(77, 56, 110, 0.5); }
  input[id=search]:focus, input[id=search]:hover {
    outline-color: white;
    background: url("../img/search.png") no-repeat right 5px center, rgba(77, 56, 110, 0.5); }

#slider .orbit {
  margin-bottom: 1em; }
  #slider .orbit img {
    border-top: 2px solid #fbae38;
    border-bottom: 2px solid #fbae38; }

#secondary-slider {
  display: block;
  height: 6.5em;
  background-color: #f6f6f6;
  margin: 0 auto; }
  #secondary-slider .video-list {
    margin: 0 auto;
    width: 98%;
    text-align: center;
    display: block;
    padding: 1em; }
    #secondary-slider .video-list li {
      display: inline-block;
      text-align: center;
      margin-left: 2em; }
      #secondary-slider .video-list li img {
        display: inline-block;
        width: 100%;
        margin: 0 auto; }

.orbit-next, .orbit-prev {
  background-color: rgba(77, 56, 110, 0.5);
  opacity: 0.4;
  transition: opacity 0.3s ease; }

.sidebar-menu {
  padding: 0;
  border-top: 1px solid #dddddd; }
  .sidebar-menu .sidebar-logo {
    padding: 0.5em;
    background-color: #f6f6f6;
    border-bottom: 1px solid #b6b6b6; }
    .sidebar-menu .sidebar-logo img {
      width: 65%; }
  .sidebar-menu dl dd {
    background-colr: #f6f6f6; }
    .sidebar-menu dl dd a {
      transition: all 0.2s ease;
      border-bottom: 1px solid #b6b6b6; }
    .sidebar-menu dl dd a:hover {
      background-color: #fbae38; }
  .sidebar-menu dl dd a:hover {
    background-color: #fbae38;
    border-bottom: 1px solid #c97b04; }
  .sidebar-menu dl dd.active a {
    background-color: #fbae38;
    color: #7e4d03;
    border-bottom: 1px solid #c97b04; }
  .sidebar-menu .customer-feedback {
    padding: 1em;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #f6f6f6; }
    .sidebar-menu .customer-feedback h4 {
      font-size: 0.75em;
      text-transform: uppercase;
      font-weight: bold; }
    .sidebar-menu .customer-feedback p {
      font-size: .75em;
      font-style: italic; }

.sidebar-right {
  border-top: 1px solid #dddddd; }
  .sidebar-right h4 {
    text-transform: uppercase; }
    .sidebar-right h4 span.first-word {
      color: #fbae38; }
  .sidebar-right .social ul li {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative; }
  .sidebar-right .social ul img {
    position: absolute;
    overflow: auto;
    transition: opacity 0.3s ease;
    top: 0; }
    .sidebar-right .social ul img:hover {
      top: -25px; }
  .sidebar-right .cart p {
    font-size: .75em;
    font-style: italic; }
  .sidebar-right #contact {
    display: block;
    padding: 20px;
    background-color: #f6f6f6;
    color: #0a0a0a;
    border-top: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
    transition: all 0.3s ease; }
    .sidebar-right #contact:hover {
      background-color: #fbae38;
      color: #0a0a0a;
      border-top: 1px solid #b06c04;
      border-bottom: 1px solid #b06c04; }
    .sidebar-right #contact:active {
      color: #b06c04; }

.main-content {
  border: 1px solid #dddddd;
  border-bottom: none;
  background-color: white;
  padding-top: 1em; }
  .main-content .featured-title img {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em; }
  .main-content .panel {
    clear: both;
    background-color: white;
    color: #4a4a4a; }

.secondary-content {
  border: 1px solid #dddddd;
  border-bottom: none;
  background-color: white; }
  .secondary-content .breadcrumbs {
    border: none;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e9e9e9;
    -webkit-border-radius: 0px;
    border-radius: 0px; }
    .secondary-content .breadcrumbs a {
      transition: color 0.3s ease;
      color: #4d386e; }
      .secondary-content .breadcrumbs a:hover {
        color: #fbae38; }
    .secondary-content .breadcrumbs li.current a {
      color: #fbae38; }
  .secondary-content .featured-title img {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em; }
  .secondary-content .panel {
    clear: both;
    background-color: white;
    color: #4a4a4a; }
  .secondary-content .secondary-feature-orbit {
    background-color: #f6f6f6;
    padding: 0;
    margin: 0;
    overflow: visible;
    border: 1px solid #dddddd; }
    .secondary-content .secondary-feature-orbit li img {
      float: left;
      margin: .5em; }
    .secondary-content .secondary-feature-orbit li p {
      max-width: 95%; }
  .secondary-content .orbit-next, .secondary-content .orbit-prev {
    opacity: 0.4; }
  .secondary-content .category h4 {
    text-transform: uppercase;
    color: #fbae38;
    font-size: 1.2em;
    margin: .5em 0; }

.secondary-menu .panel {
  background-color: white;
  color: #4a4a4a; }

.footer-main-menu li {
  font-size: .75em;
  text-transform: uppercase; }

.secondary-footer {
  background-color: #f6f6f6;
  border-top: 1px solid #b6b6b6; }
  .secondary-footer .row {
    background-color: #f6f6f6; }
    .secondary-footer .row p {
      margin-top: 1em;
      font-size: 0.75rem;
      text-align: center; }
