
.header {
	padding-top: 0.5em;
	.large-3.columns,  .large-9.columns  {
			padding: 0px!important;		
	}

	.row {
		//background-color: $rowPurple;
		background-color: $alpha_transPurple;	

	}
	
	
	ul li a {
		color: $white;
		transition: color 0.3s ease;
	

		&:hover {
			color: darken($white, 20%);
		}
	}

	.user-menu li a {
		font-size: .75em;
	}

	#cart {
		width: 4em;
		text-align: right;
		background: url('../img/cart.svg') no-repeat left center;
		background-size: 20px 20px;

		&:hover {
			background: url('../img/cart-hover.svg') no-repeat left center;
			background-size: 20px 20px;
		}
	}

	.main-menu {
		margin-top: 1em;
		li {
				margin-left: .25em;
				
			a {
				text-transform: uppercase;
				font-size: .80em;
				padding: 5px;

				&:hover {
					background-color: lighten($transPurple, 30%);
					color: $orange;

				}
			}
		}
	}



	input[id=search] {
	border: 1px solid lighten($transPurple, 10%);
	padding: 5px;
	color: $white;
	background: $transPurple;
	background: 
		url('../img/search.png') no-repeat right 5px center,
		$transPurple;

	&:focus {
		outline-color: $white;
	}
	} 

	#header-logo {
		max-height: 3.125em;
	}
}

/* nav.tab-bar {
	background-color: $transPurple;
	color: $grey;
}
 */
.off-canvas-wrap, .inner-wrap, .left-off-canvas-menu, .right-off-canvas-menu, nav.tab-bar {
	background-color: $transPurple;
	color: $grey;

	ul.off-canvas-list li label {
		background-color: $grey;
	}
}


input[id=search] {
	border: 1px solid lighten($transPurple, 10%);
	padding: 5px;
	color: $white;
	background: $transPurple;
	background: 
		url('../img/search.png') no-repeat right 5px center,
		$transPurple;

	&:focus, &:hover {
		outline-color: $white;
		background: 
		url('../img/search.png') no-repeat right 5px center,
		$transPurple;
	}
}