.secondary-content {

	border: 1px solid darken($ltgrey, 10%);
	border-bottom: none;
	background-color: lighten($ltgrey, 10%);

	.breadcrumbs {
		border:none;
		background-color: $ltgrey;
		border-bottom: 1px solid darken($ltgrey, 5%);
		-webkit-border-radius: 0px;
		border-radius: 0px;

		a {
			transition: color 0.3s ease;
			color: $purple;
			
			&:hover {
				color: $orange;
			}
		}

		li.current a {
			color: $orange;
		}
	}

	.featured-title {
		img {
			float:left;
			margin-right: 1em;
			margin-bottom: 0.5em;
		}
	}

	.panel {
		clear: both;
		background-color: lighten($ltgrey, 25%);
		color: $dkgrey;
	}

	.secondary-feature-orbit {
		background-color: $ltgrey;
		padding: 0;
		margin: 0;
		overflow: visible;
		border: 1px solid darken($ltgrey, 10%);

			li {

				img {
					float: left;
					margin: .5em;
				}
				p {
					max-width: 95%;
				}

			}
	}


		.orbit-next, .orbit-prev {
			opacity: 0.4;
		}

	.category h4 {
		text-transform: uppercase;
		color: $orange;
		font-size: 1.2em;
		margin: .5em 0;
	}

}