.sidebar-menu {
	padding: 0;
	border-top: 1px solid darken($ltgrey, 10%);

	dl dd.active a {
		background-color: $orange;
		color: darken($orange, 20%);
		border-top: 1px solid darken($orange,20%);
		border-bottom: 1px solid darken($orange,20%);
	}

	dd a{

		transition: all 0.2s ease;

		a:hover {
			background-color: $orange;
		}

	}

	.customer-feedback {
	
		padding: 1em;
		border-top: 1px solid darken($ltgrey, 10%);
		border-bottom: 1px solid darken($ltgrey, 10%);
		background-color: $ltgrey;
		
		h4 {
			font-size: 0.75em;
			text-transform: uppercase;
			font-weight: bold;
		}

		p {
			font-size: .75em;
			font-style: italic;
		}
	}

}