.sidebar-menu {
	padding: 0;
	border-top: 1px solid darken($ltgrey, 10%);

	.sidebar-logo {
		padding: 0.5em;
		background-color: $ltgrey;
		border-bottom: 1px solid darken($ltgrey, 25%);

		img {
			width: 65%;
		}

	}


	dl dd {
		background-colr: $ltgrey;
		
		a {
			transition: all 0.2s ease;
			border-bottom: 1px solid darken($ltgrey, 25%);
		}
		a:hover {
			background-color: $orange;
		}
	}

	dl dd a:hover {
		background-color: $orange;
		//color: darken($orange, 20%);
		//border-top: 1px solid darken($orange,20%);
		border-bottom: 1px solid darken($orange,20%);
	}


	dl dd.active a {
		background-color: $orange;
		color: darken($orange, 35%);
		//border-top: 1px solid darken($orange,20%);
		border-bottom: 1px solid darken($orange,20%);
	}


	.customer-feedback {
	
		padding: 1em;
		border-top: 1px solid darken($ltgrey, 10%);
		border-bottom: 1px solid darken($ltgrey, 10%);
		background-color: $ltgrey;
		
		h4 {
			font-size: 0.75em;
			text-transform: uppercase;
			font-weight: bold;
		}

		p {
			font-size: .75em;
			font-style: italic;
		}
	}

}